.header {
    a {
        text-decoration: none;
        color: #fff;
        transition: .3s;

        &:hover {
            color:#E6E6E6;
        }
    }

    button {
        margin-left: 20px;
        transition: .3s;


        &:hover {
            color:#E6E6E6;
        }
    }

    mat-toolbar{
        height:70px;
        padding: 15px 50px;

        .visitor-status button{
            border: 1px solid #fff;
        }
    }
}


