<div class="register-wrapper"></div>
<form class="register-form text-center">
    <h1>Register</h1>
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput>
        <mat-icon matSuffix>badge</mat-icon>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Email Address</mat-label>
        <input type="text" matInput>
        <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput>
        <mat-icon matSuffix>visibility</mat-icon>
        <!-- <mat-icon matSuffix>visibility_off</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <div>
        <button class="w-100" type="button" mat-raised-button color="primary">Submit</button>
    </div>
</form>
