<div class="login-wrapper">
</div>

<form action="" class="login-form text-center">
    <h1>Login</h1>
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Email Address</mat-label>
        <input type="text" matInput>
        <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Placeholder">
        <mat-icon matSuffix>visibility</mat-icon>
        <!-- <mat-icon matSuffix>visibility_off</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <div>
        <button class="w-100" type="button" mat-raised-button color="primary">Login</button>
    </div>
</form>
